@import './helpers.css';
@import './normalize.css';

html, body {
  min-height: 100vh;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

/* for Login, Register & UploadProduct */

.grey-form {
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  background: whitesmoke;
}

/* notifications */

.bid {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.bid p {
  margin-bottom: 0;
}

.bid-product {
  height: 50px;
  width: 50px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-weight: bold;
  background: lightcoral;
  color: white;
}
.close-btn:hover {
  background: rgb(243, 109, 109);
}